.inputf {
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;

    margin: 10px 0 0 100px;
    width: 30%;
}
.container {
    margin-top: 70px;
}

.login100-form-btn1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 10px 0 0 150px;
    width: 20%;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
  
    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn1:hover {
    background-color: #1b3815;
  }

  .wrap-login1001 {
    text-align: center;
    overflow: hidden;
    }